@{
	ViewData["Title"] = "Home Page";

	List<DxDataGridColumnConfig> columnConfigs = new() {
		new(){ Field = "Username", DataType= GridColumnDataType.String},
		new(){ Field = "Password", DataType= GridColumnDataType.String},
		new(){ Field = "Email", DataType= GridColumnDataType.String},
		new(){ Field = "UserType", DataType= GridColumnDataType.String}
	};

	DxDataGridConfig gridConfig = new()
			{
				Id = "dxc_users",
				DataSourceConfig = new()
				{
					ControllerName = "DxUser",
					LoadActionName = "Get",
					Key = "Id"
				},
				DisplayRowFilters = true,
				ShowGroupPanel = true,
			};
}

<div>
	@(Html.AddCustomDxDataGrid<UserModel>(columnConfigs, gridConfig))
</div>
