<div class="list-group">
    <a class="list-group-item @Html.GetActiveRouteClassName("Users")" asp-controller="Settings" asp-action="Users">
        User 
    </a>
    <a class="list-group-item @Html.GetActiveRouteClassName("ListName")" asp-controller="Settings" asp-action="ListName">
        List Name
    </a>
    <a class="list-group-item @Html.GetActiveRouteClassName("QuickCostDataEntry")" asp-controller="Settings" asp-action="QuickCostDataEntry">
        Quick Cost Data Entry
    </a>
</div>
