@model UserPersonalDetailVM

<div>
	@(
		Html.DevExtreme()
				.Form<UserPersonalDetailFormVM>()
					.ColCount(2)
			.FormData(Model.form)
			.Items(item =>
				{
					item.AddCustomFormTextBox(x => x.Name);
					item.AddCustomFormTextArea(x => x.Address);
					item.AddCustomFormTextBox(x => x.City);
					item.AddCustomFormTextBox(x => x.Zip);
					item.AddCustomFormTextBox(x => x.State);
					item.AddCustomFormTextBox(x => x.Contact);
					item.AddCustomFormTextBox(x => x.Email);
					if(Model.UserType == 1) {		// User Type = Client
						item.AddCustomFormTextBox(x => x.ClosedCode);
						item.AddCustomFormTextBox(x => x.CloseDays);
						item.AddCustomFormTextBox(x => x.WhiteMailCode);
					}
				})
	)
</div>