.login-page {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100vh - 37px);
    -ms-flex-pack: center;
    justify-content: center;
}

.main-header-navbar .nav-item .active {
    /*border-bottom: 2px solid #0d6efd;*/
    color: white !important;
}

    .main-header-navbar .nav-item .active:hover, .main-header-navbar .nav-item .active:focus {
        /*border-bottom: 2px solid #0d6efd;*/
        color: white !important;
    }

.nav-profile-avtar {
    background-color: #0f6cbd;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover, .nav-link:focus {
    color: #0d6efd !important;
}

@media (max-width: 760px) {
    .collapse .nav-link {
        margin-left: 8px;
        padding-left: 10px !important;
    }
    .nav-item .active {
        border-left: 2px solid #0d6efd;
        border-bottom: none;
    }
    .nav-link {
        padding-left: 5px;
    }
}

.dx-invalid-message > .dx-overlay-content {
    background-color: transparent !important;
    color: #d13438 !important;
}

.login-page-header-img {
    width: 150px;
}

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1520;
}

.active .bs-stepper-circle {
    background-color: #0f6cbd !important;
}

.bs-stepper-circle {
    font-weight: 400;
    font-size: 14px !important;
}
.bs-stepper-label {
    font-weight: 400;
    font-size: 14px !important;
}

.profile-dropdown-menu {
    left: -110px !important;
}

.main-body-margin-bottom { 
    margin-bottom: 70px;
}

input[type="password"]::-ms-reveal {
    display: none !important;
}

.main-header-navbar {
    z-index: 1520;
}

.tabs-container-auto .dx-tabs-wrapper {
    width: auto !important;
}

.custom-delete-icon {
    color: #d13438;
    font-size: 60px !important;
}

.custom-delete-popup-container {
    height: inherit;
    margin-bottom: -8px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
}