@model ChangePasswordModel

<div class="justify-content-center login-page px-3">
	<div class="col-12 col-xl-4 col-lg-6 col-md-9">
		<div class="card shadow p-3 rounded login-card bg-body-tertiary">
			<img src="~/images/a_logo.png" class="card-img-top p-3 mx-auto login-page-header-img" alt="">
			<div class="card-body">
				<div class="text-left">
					<h3>Change Password</h3>
					<p>Enter your new password below and confirm it to reset your password. Make sure your password is strong and secure.</p>
				</div>
				<partial name="Forms/_ChangePasswordForm"></partial>
			</div>
		</div>
	</div>
</div>

