@model ForgetPasswordModel

<div class="row justify-content-center login-page">
	<div class="col-12 col-lg-6">
		<div class="card shadow p-3 bg-body-tertiary rounded login-card">
			<div class="card-body">
				<div>
					<h3>Need Help Accessing Your Account?</h3>
					<p>We’re here to help! Just enter your registered email address below, and we’ll send you a secure link to reset your password.</p>
				</div>
				<partial name="Forms/_ForgetPasswordForm"></partial>
			</div>
		</div>
	</div>
</div>



