@model LoginModelRecord

<div class="bg-body-tertiary">
	<div class="justify-content-center login-page px-3">
		<div class="col-12 col-xl-4 col-lg-6 col-md-9">
			<div class="card shadow p-3 rounded login-card">
				<img src="~/images/ATA Logo.jpg" class="card-img-top p-3" alt="">
				<div class="card-body">
					<partial name="Forms/_LoginForm"></partial>
				</div>
			</div>
		</div>
	</div>
</div>

