@model LoginModelRecord

<div class="row justify-content-center login-page">
	<div class="col-12  col-lg-6">
		<div class="card shadow p-3 mb-5 bg-body-tertiary rounded login-card">
			<div class="card-body">
				<div class="text-center">
					<h3>Welcome to ATA Bluebook</h3>
				</div>
				<partial name="Forms/_LoginForm"></partial>
			</div>
		</div>
	</div>
</div>

