<div class="row mt-2">
    <div class="col-2">
        <partial name="_Sidebar"></partial>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary me-3 d-flex align-items-center gap-2" asp-controller="Users" asp-action="New">
                Add User <i class="dx-icon dx-icon-add"></i>
            </a>
        </div>
    </div>
</div>
