@{
	List<BreadCrumbModel> breadCrumbModel = new() {
		new BreadCrumbModel("Users").SetActive()
	};
}

<div class="container">
	<div class="mt-3 px-2">
		@(await Html.PartialAsync("_BreadCrumb", breadCrumbModel))
	</div>
	<div class="mt-3 main-body-margin-bottom">
		<div class="card shadow bg-body-tertiary rounded">
			<div class="card-body">
				<div class="d-flex justify-content-end">
					@(Html.DevExtreme().AddCustomButton(buttonText: "Add User", clickHandler: "() => {window.location.href = '" + @Url.Action("New", "Users") + "'}", icon: "plus", rtlEnable: true))
				</div>
				<div>
					<h4>
						The user listing grid will be here.
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>
