@model UserFormPageModel
@{
	var model = new StepperButtonModel
			{
				PreviousLabel = "Previous",
				NextLabel = "Next",
				PreviousBtnClickHandler = "handleUserTypePrevious",
				NextBtnClickHandler = "handleUserTypeNext",
				DisplayPreviousButton = false
			};

	SelectionControlConfig selectionConfig = new()
			{
				DbSourceController = "Users",
				DBSourceAction = "UserTypeList",
				KeyField = "Id",
				DisplayField = "Name",
				ValueChangeCallBack = "UserTypeSelectionChanged"
			};
}
<div>
	<div class="m-auto w-50">
	@(
		Html.DevExtreme()
		.Form<UserTypeDetailForm>()
		.OnInitialized("onUserTypeFormInitialized")
		.ColCount(1)
		.FormData(Model.UserTypeForm)
		.Items(item =>
		{
			item.AddCustomFormSelectBox(x => x.UserType, selectionConfig);
		})
	)
	</div>
	@(await Html.PartialAsync("_StepperButtons", model))
</div>