@{
    var stepperButton = new StepperButtonModel
    {
        PreviousLabel = "Previous",
        NextLabel = "Done",
        PreviousBtnClickHandler = "handleFormDoneStepPrevious",
        NextBtnClickHandler = "handleFormDoneStepNext"
    };
}
<div>
    User Form submitted
</div>
<div>
    @(await Html.PartialAsync("_StepperButtons", stepperButton))
</div>

<script>
    function handleFormDoneStepPrevious() {
        stepper.previous();
    }

    function handleFormDoneStepNext() {
        stepper.next()
    }
</script>