@{
    var model = new StepperButtonModel
    {
        PreviousLabel = "Previous",
        NextLabel = "Next",
        PreviousBtnClickHandler = "handleUserTypePrevious",
        NextBtnClickHandler = "handleUserTypeNext"
    };
}
<div>
    User type selection will be here
    @(await Html.PartialAsync("_StepperButtons", model))
</div>
<script>
    function handleUserTypePrevious() {
        stepper.previous();
    }

    function handleUserTypeNext() {
        stepper.next()
    }
</script>